.img {
  /* width: 45%;
  height: auto; */
  /*width: 400px;
  height: 400px;*/
}
.img-movie {
  width: 400px;
  height: 400px;
}
.img-large {
}

#hero p {
  margin-bottom: 5px;
}
.finishGame {
  margin-top: 250px;
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  text-align: center;
  padding: 5rem;
  border: 5px solid white;
  background-color: grey;
  color: white;
}

.button_go_home_restart_container {
  display: flex;
  justify-content: center;
}

.button_go_home {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button_go_home:active {
  background-color: #010c2c;
  transform: translateY(1px);
}
